<h1>Welcome <%= current_user.username %></h1>
<br><%= link_to 'Back', root_path %>

<% @customers.each do |customer| %>
<ul>
	<li><%= link_to "#{customer.company}", customer_projects_path(customer)  %></li>
</ul>
<% end %>