<h1>New Time Entry</h1>

<div class="stopwatch">
	
</div>



<div class="cr_timeentry">
<%= form_for ([@task, @task.build_timeentry]) do |f| %>

	<p>
		<%= f.text_area :note, placeholder: 'note' %>
	</p>

	<p>
		<%= f.submit 'Start Timer'%>
	</p>
<% end %>

</div>